body{
  background: url("img/piedra_cifrado.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
}  
h1{
  text-align: center;
  color:black;
  font-style:italic;
  font-weight:bold;
  font-size:2em;
  font-family:'Lucida Sans';
}
div.izquierdo{
  float: left;
  background-color:blue;
  width: 35%;
  height: 100%;
}
div.derecho{
  float: right;
  background-color: blue;
  width: 35%;
  height: 100%;
}